.tablaPerfil{
	border: 3px double Cornsilk ;
	width: 50%;
	height: 70%;
}

th{
	color: red;
}

.contenedorInfo{
	display: flex;
  	justify-content: center;
  	align-items: center;
	align-content: center;
	
}