<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
		<form method="post" action="/student">
			<table class="tablaPerfil">
    			<tr>
     				<th>Nombre</th>
      				<input class="form-control" placeholder="Nombre" name="nombre">
    			</tr>
    			<tr>
      				<th>Apellido</th>
      				<input class="form-control" placeholder="Apellido" name="apellido">
    			</tr>
    			<tr>
      				<th>Legajo</th>
      				<input class="form-control" placeholder="Legajo" name="legajo">
    			</tr>
    			<tr>
      				<th>Usuario de github</th>
      				<input class="form-control" placeholder="Usuario de github" name="githubUser">
    			</tr>
    			<tr>
      				<th>Password</th>
      				<input class="form-control" placeholder="Password" name="password">
    			</tr>
			</table>
			<button class="btn btn-success btn-block btn-flat" name="button">Aceptar</button>
		</form>

</body>

</html>