<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/login.css"> 
 	<link rel="stylesheet" href="/css/main.css"> 
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</head>
 
<body>  
<div class = "contenedorLogin">
	<div>
	<h1 class="loveat">Bienvenido alumno</h1>
    <p>Inicia sesion</p>
    <form method="POST" action="/">
    	<h3>Ingrese nombre de usuario</h3>
    	<input placeholder="Usuario" name="nombreUsuario"> 
    	   
    	<h3>Ingrese contraseña</h3>             
    	<input type="password" placeholder="Contraseña" name="contrasenia">        
    	             
    	<button class="btn btn-success btn-block btn-flat" name="button">Ingresar</button>
    </form>
    </div>
</div>

</body>
</html>